.intro-container{
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    z-index: 1;
    font-family: 'Slabo 27px', serif;
    width: 100%;
    display: flex;
}

.card{
    max-height: 60vh;
    width: 60vw;
    background-color: rgba(240, 248, 255, 0.274);
    z-index: 2;
    position: relative;
    margin: auto;
    border-radius: 30px;
}

.description{
    margin: auto;
    margin-top: 15px;
    text-align: center;
    word-wrap: break-word;
    width: 70%;
    height: 20%;
    /* background-color: brown; */
    color: black;
    font-size: 40px !important;
    font-weight: 800;
}

.content{
    bottom: 0 !important;
    position: relative;
    margin: auto 0;
    display: flex;
}
.imageProp{
    margin: 15px;
    width: 30%;
}

.text{
    margin-left: 15px;
    width: 50%;
    position: relative;
    text-align: center;
    font-size: 22px !important;
    font-weight: bold;
    opacity: 0.7;
    word-spacing: 5px;
    padding: 15px 0;
    margin: auto 0;
    font-stretch: semi-expanded !important;
}

@media (max-width:520px){
    .card{
        width: 87vw;
        max-height: 60vh;
    }
    .description{
        font-size: 28px !important;
        height: 25%;
        margin: auto;
        margin-top: 24px;
        text-align: center;
        align-content: center;
    }
    .text{
        font-size: 14px !important;
        margin: auto 3px;
        word-spacing: 4px;
    }
}

@media (min-width:521px) and (max-width:840px){
    .card{
        width: 87vw;
        max-height: 60vh;
    }
    .description{
        font-size: 28px !important;
        height: 25%;
        margin: auto;
        margin-top: 24px;
        text-align: center;
        align-content: center;
    }
    .imageProp{
        height: 30% !important;
        width: 40% !important;
    }
    .text{
        font-size: 20px !important;
        margin: auto 3px;
    }
}